<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="container">
    {{>header}}

    <p>  Book Store</p>
    <form action="">
        <input type="text" placeholder="Search...">
        <button>Search</button>


    </form>

    <p id="author-event-id"></p>
    <p id="author-event-name"></p>
    <p id="author-event-title"></p>
    <p id="author-event-nr-people"></p>
    <p id="author-event-place"></p>


</div>

{{>footer}}

<script src="./js/authoreventapp.js"></script>
</body>
</html>

