<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="container">
        {{>header}}


        <form action="">
            <input type="text" placeholder="Search for weather data...">
            <button>Search</button>


        </form>

        <p id="author-book-id"></p>
        <p id="author-book-name"></p>
        <p id="author-book-title"></p>
        <p id="author-book-nr-pages"></p>
        <p id="author-book-genre"></p>


    </div>

    {{>footer}}

    <script src="./js/authorbookapp.js"></script>
</body>
</html>
